@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.pb-safe {
	  padding-bottom: calc(env(safe-area-inset-bottom) - 0.5rem);
	}
	.p-safe {
	  padding-bottom: env(safe-area-inset-bottom);
	  padding-left: env(safe-area-inset-left);
	  padding-right: env(safe-area-inset-right);
	  padding-top: env(safe-area-inset-top);
	}
  }

body {
	@apply select-none bg-customYellow2 text-zinc-900 antialiased;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
  background-color: #FDF8F2; 
}
html {
  @apply p-safe;
  min-height: calc(100% + env(safe-area-inset-top));
}

.touch-none {
	touch-action: none; 
  }
  
  .overscroll-contain {
	overscroll-behavior: none; 
  }

  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  .customScroll {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }

  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%; /* fallback if dvh is not supported */
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }